<table>
    <tr>
        <th>Id</th>
        <th>Vehicle Number</th>
        <th>Pickup point</th>
        <th>Drop point</th>
        <th>Current Location</th>
    </tr>
    <tbody>
        <tr *ngFor ="let vehicle of currentUser.vehiclesList;">
            <td>{{vehicle.ID}}</td>
            <td>{{vehicle.VEHICLE_NUMBER}}</td>
            <td><a [attr.id]="vehicle.PKP_LOC" [attr.location]="vehicle.PKP_LOC" [attr.latitude]="vehicle.PKP_LAT" [attr.longitude]="vehicle.PKP_LON" (click)="getRow($event)" class="btn btn-link">{{vehicle.PKP_LOC}}</a></td>
            <td><a [attr.id]=vehicle.DROP_LOC [attr.location]="vehicle.DROP_LOC" [attr.latitude]="vehicle.DROP_LAT" [attr.longitude]="vehicle.DROP_LON" (click)="getRow($event)" class="btn btn-link">{{vehicle.DROP_LOC}}</a></td>
            <td><a [attr.id]=vehicle.CURR_LOC [attr.location]="vehicle.CURR_LOC" [attr.latitude]="vehicle.CURR_LAT" [attr.longitude]="vehicle.CURR_LON" (click)="getRow($event)" class="btn btn-link">{{vehicle.CURR_LOC}}</a></td>
        </tr>
    </tbody>
   
</table>


<agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
  <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>