/*
 * Page: Login & Register
 * ----------------------
 */
 .wrapper
 {
     display: table;
 }
 .wrapper .container
 {
     display: table-cell;
 }
 .tbl
 {
     display: table;
     width: 100%;
 }
 
 .loginContainer
 {
     margin: 0px auto;
     width: 320px;
 }
 
 .td
 {
     display: table-cell;
     vertical-align: middle;
 }
 
 .td:first-child
 {
     background-color: #fff;
     border-radius: 7px;
     overflow: hidden;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }
 
 .td:last-child
 {
     width: 320px;
 }
 
 .loginHeader
 {
     text-align: center;
      /*background: #55565A;*/ 
     background: #fff; 
     padding: 15px 0;
     position: fixed;
     z-index: 99;
     width: 100%;
     top: 0px;
     border-bottom: 1px solid #f7f7f7;
     box-shadow: 0px -1px 5px 2px #ABA9A8;
 }
 .loginHeader a
 {    /*background: #fff;*/
     height: 61px;
     display: inline-block;
     padding: 4px;
 }
 
 .login-logo, .register-logo
 {
     font-size: 35px;
     text-align: center;
     margin-bottom: 25px;
     font-weight: 300;
     background: #FFF7F7;
 }
 
 .login-logo a, .register-logo a
 {
     color: #444;
 }
 
 .login-page, .register-page
 {
     background: #f6f6f6;
 }
 
 .login-page .bg, .register-page .bg
 {
     /* background: url('../img/printer-790396_1920.jpg') no-repeat;*/
     background-position: center top;
     position: relative;
     position: fixed;
     top: 0px;
     left: 0px;
     bottom: 0px;
     right: 0px;
     background-size: cover;
     opacity: 0.15;
 }
 
 .login-page .container, .register-page .container
 {
     position: relative;
     z-index: 2;
 }
 
 .login-box, .register-box
 {
     width: 100%;
     margin: 0 auto;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     border-radius: 7px;
     overflow: hidden;
 }
 
 .login-page .container
 {
     padding-top: 30px;
     vertical-align: middle;
 }
 
 .loginFooter
 {
     text-align: center;
     padding: 10px 15px;
     border-top: 1px solid #aa0000;
     text-align: right;
     margin-top: 30px;
 }
 
 .loginFooter img
 {
     height: 30px;
     width: auto;
 }
 /*.btn-sign
 {
     color: #53565a;
     background-color: rgba(255, 196, 59, 0.66);
     border-color: rgba(255, 196, 59, 0.66);
 }*/
 .btn-sign:hover
 {
     color: #53565a;
     background-color: #ffc72c ;
     border-color: #ffc72c ;
 }
 .loginFooter a
 {
     color: #000;
     font-size: 14px;
     font-weight: 600;
     display: inline-block;
     padding: 0 10px;
     border-right: 1px solid rgba(0, 0, 0, 0.7);
 }
 
 
 @media (max-width: 768px)
 {
     .login-box, .register-box
     {
         width: 100%;
         margin-top: 0px;
     }
 }
 
 @media (max-width: 767px)
 {
     .td:last-child
     {
         padding-left: 0px;
     }
 
     .main-header .navbar .centerDiv
     {
         left: 50%;
         background: none;
         padding: 0px;
         transform: none;
         left: 55px;
         top: 0px;
         right: 55px;
         padding: 5px 0;
         font-size: 16px;
         line-height: 1.3;
     }
     .navbar-custom-menu > .navbar-nav > li.user-menu > a
     {
         padding-top: 20px;
         padding-bottom: 15px;
     }
     .main-header .sidebar-toggle
     {
         padding: 7px 10px;
     }
     .loginFooter
     {
         text-align: center;
     }
 }
 
 .login-box-body, .register-box-body
 {
     background: #fff;
     padding: 15px;
     border-top: 0;
     color: #666;
 }
 
 .login-box-body .form-control-feedback, .register-box-body .form-control-feedback
 {
     color: #777;
 }
 
 .login-box-msg, .register-box-msg
 {
     margin: 0;
     text-align: left;
     padding: 0 20px 20px 0px;
     font-size: 20px;
     color: #55565A;
 }
 
 .login-box-msg i, .register-box-msg i
 {
     font-size: 25px;
     margin-right: 10px;
     vertical-align: middle;
     line-height: 1.2;
 }
 
 .social-auth-links
 {
     margin: 10px 0;
 }
 