<!-- <mat-toolbar color="primary">
    <span>
      <img src="assets/img/angular_whiteTransparent.svg" class="angular-logo">
    </span>
    <span class="fill-remaining-space" *ngIf="isLoggedIn$ | async as isLoggedIn"></span>
    <button mat-button *ngIf="isLoggedIn$ | async as isLoggedIn">Menu Option 01</button>
    <button mat-button *ngIf="isLoggedIn$ | async as isLoggedIn">Menu Option 02</button>
    <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
  </mat-toolbar> -->
  <nav class="navbar navbar-expand navbar-dark bg-dark"  *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home">Home</a>
        <a class="nav-item nav-link" routerLink="/tripDetails">Trip Details</a>
        <a class="nav-item nav-link" href="#" (click)="logout()">Logout</a>

    </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    
    <!-- </div> -->