/*
 * Page: Login & Register
 * ----------------------
 */
.wrapper{ display:table;}
.wrapper .container{ display:table-cell;}
.tbl {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

.td:first-child {
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.td:last-child {
    width: 320px;
    padding-left: 15px;
}

.loginHeader {
    text-align: center;
    background: #aa0000;
    padding: 15px 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0px;
}

.login-logo,
.register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.login-logo a,
.register-logo a {
    color: #444;
}

.login-page,
.register-page {
    background: #f6f6f6;
}

.login-page .bg,
.register-page .bg {
    background: url('../img/printer-790396_1920.jpg') no-repeat;
    background-position: center top;
    position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-size: cover;
    opacity: 0.15;
}

.login-page .container,
.register-page .container {
    position: relative;
    z-index: 2;
}

.login-box,
.register-box {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    overflow: hidden;
}

.login-page .container {
    padding-top: 30px;
    vertical-align: middle;
}
.login-page .container .tbl{ max-width:1000px; margin:0 auto;}
.login-page .bannerBox .img {
    margin-bottom: 0px;
}
